<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <!-- Content here *layout,grid,column added-->
      <div class="row">
        <div class="col-sm-8">
       <%= yield %>

    </div>
   <div class="col-sm-4">
    <div class="sidebar">
      <h3>Rails Sidebar</h3>
      <p>Click on here to see page. </p>
    </div>
    </div>
    </div>
  </body>
</html>
